body {
    margin: 0 auto;
}

.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #1e1e1e;
    color: #fff;
}

.logo {
    width: 100px;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

nav .active {
    color: #FF8A00; 
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.hero {
    display: flex;
    background-image: url("/src/assets/images/hero.jpg");
    height: 695px;
    background-size: cover;
    background-position: center;
}
.hero h1 {
    margin-right: 25px;
    padding-left: 950px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
}

.secondary-hero {
    margin: 25px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-section{
    height: 150vh;
    background-color: #1e1e1e;
}

.middle img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.middle-section img {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.discover {
    background-color: #1e1e1e;
    /* background: url(../assets/images/background.png); */
    background-size: 100%;
    
}

.search-container {
    height: 30px;
    width: 100%;
    padding: 25px 23px 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    color: #fff;
    padding: 10px;
}

.search-input {
    color: #fff;
    width: 365px;
    background: transparent;
    border-bottom: solid #fff 1px;
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
}

.search-icon {
    padding: 10px;
    width: 16px;
}

.card {
    display: flex;
    margin: 25px auto;
}

.cardHead {
    display: flex;
}

.cardLocation {
    margin-top: -8px;
}

.climb-details-middle {
    margin: 25px auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gainsboro;
}

.climb-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #FF8A00;
    color: white;
    border: none;
    outline: 0;
}

.form-line-one {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.new-route h1 {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}